@model IEnumerable < Medimall.Models.HealthBook>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Vendor/css/admin-site.css" rel="stylesheet" />
<h2 class="text-center">Sổ sức khỏe điện tử</h2>

<table class="table table-striped ">
    <thead style="background-color: #4e73df;color:aliceblue ">
        <tr>
            <th>@Html.DisplayNameFor(model => model.BookId)</th>
            <th>@Html.DisplayNameFor(model => model.AccountId)</th>
            <th>Đã tiêm vacin</th>
            <th>Đã nhiễm covid</th>
            <th>@Html.DisplayNameFor(model => model.MedicalHistory)</th>
            <th>@Html.DisplayNameFor(model => model.Symptoms)</th>
            <th>@Html.DisplayNameFor(model => model.IsValid)</th>
            <th>Chức năng</th>
        </tr>
    </thead>

    <tbody id="tblHealthBook">
    </tbody>
</table>
<div id="paged">

</div>
<script>
    $(document).ready(function () {
        GetPageData(1);
    });
   $(function() {
            var successMess = '@TempData["SuccessMess"]'
        if (successMess != '') {
            alertify.success(successMess);
            successMess = '';
        }

        });
    function GetPageData(pageNum, pageSize) {
        $("#tblHealthBook").empty();
        $("#paged").empty();
        $.getJSON("/AdminHealthBook/GetPaggedData", { pageNumber: pageNum, pageSize: pageSize }, function (response) {
            var rowData = "";
            for (var i = 0; i < response.Data.length; i++) {
                var isCovid = function () {
                    if (response.Data[i].IsCovid == true)
                        return 'Yes'
                    else
                        return 'No'
                }
                var isVaccin = function () {
                    if (response.Data[i].IsVaccinated == true)
                        return 'Yes'
                    else {
                        return 'No'
                    }
                }
                var convertStatus = function () {
                    if (response.Data[i].IsValid == 1)
                        return '<i style="color: #4cd137;font-size:17px" class="fas fa-check-circle"></i'
                    else if (response.Data[i].IsValid == 2) {
                        return '<i style="color: #e17055" class="fas fa-times"></i>'
                    }
                    else
                    {
                        return '<i style="color:#f1c40f;font-size:17px" class="fas fa-spinner"></i>'
                    }
                }
                rowData = rowData +
                    '<tr><td>' + response.Data[i].BookId + '</td>' +
                    '<td>' + response.Data[i].AccountId + '</td>' +
                    '<td>' + isVaccin() + '</td>' +
                    '<td>' + isCovid() + '</td>' +
                    '<td>' + response.Data[i].MedicalHistory + '</td>' +
                    '<td style="width:200px;">' + response.Data[i].Symptoms + '</td>' +
                    '<td>' + convertStatus() + '</td>' +
                    '<td>' + '<a onclick = "ViewHealthBook(' + response.Data[i].BookId + ')" class="d-none d-sm-inline-block btn btn-sm btn btn-info">' + 'Xem chi tiết <i class="fas fa-eye"></i></a>' +
                    '<a style="margin-left:15px" onclick = "DeleteHealthBook(' + response.Data[i].BookId + ')" class="d-none d-sm-inline-block btn btn-sm btn btn-danger ">' + 'Xóa <i class="fas fa-minus-circle"></i></a>' +
                    '</td>' +
                    '</tr>';

            }
            $("#tblHealthBook").append(rowData);
            PaggingTemplate(response.TotalPages, response.CurrentPage);
        });
    }
    function ViewHealthBook(id) {
        window.location.href = '@Url.Action("ViewDetail","AdminHealthBook")/' + id;
    }
    function DeleteHealthBook(id) {
        alertify.confirm("Xóa", "Bạn có muốn xóa không?", function () {
            $.ajax({
                type: "POST",
                url: "/AdminHealthBook/DeleteHealthBook/" + id,
                data: id,
                success: function (result) {
                    window.location.href = '@Url.Action("Index","AdminHealthBook")';
                }
            })
        },null);
    }
    function PaggingTemplate(totalPage, currentPage) {
        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var PageNumberArray = Array();


        var countIncr = 1;
        for (var i = currentPage; i <= totalPage; i++) {
            PageNumberArray[0] = currentPage;
            if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                PageNumberArray[countIncr] = i + 1;
            }
            countIncr++;
        };
        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        template = "<p>Trang " + CurrentPage + " trong " + TotalPages + " trang</p>"
        template = template + '<ul style="list-style-type:none;display:flex;margin-left:-3%" class="pager">' +
            '<li class="previous"><a href="#" onclick="GetPageData(' + FirstPage + ')"><i class="fa fa-fast-backward"></i>&nbsp;Đầu</a></li>' +
            '<li><a href="#" onclick="GetPageData(' + BackwardOne + ')"><i class="glyphicon glyphicon-backward"></i></a>';

        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            numberingLoop = numberingLoop + '<a style="margin-left:10px" class="page-number active" onclick="GetPageData(' + PageNumberArray[i] + ')" href="#">' + PageNumberArray[i] + ' &nbsp;&nbsp;</a>'
        }
        template = template + numberingLoop + '<a href="#" onclick="GetPageData(' + ForwardOne + ')" ><i class="glyphicon glyphicon-forward"></i></a></li>' +
            '<li class="next"><a href="#" onclick="GetPageData(' + LastPage + ')">Cuối&nbsp;<i class="fa fa-fast-forward"></i></a></li></ul>';
        $("#paged").append(template);
        $('#selectedId').change(function () {
            GetPageData(1, $(this).val());
        });
    }
</script>