@model Medimall.Models.Account
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<style>
    :root {
        --blue: #0f62f9;
        --darkblue: #003cbf;
        --green: #5dac46;
        --gray: #ededed;
        --black: #112950;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        padding: 0;
    }

    body {
        background: var(--gray);
        font-family: Tahoma, sans-serif;
    }

    .container-body {
        background: var(--gray);
        color: var(--black);
        width: 1296px;
        margin: 0 auto 30px;
    }

    .body-header {
        display: flex;
        margin: 0 0 24px;
        padding: 24px 24px 0;
    }

        .body-header ul {
            display: flex;
        }

        .body-header li {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: 9px;
            line-height: 20px
        }

            .body-header li i {
                color: var(--green);
                font-size: 4px;
                margin-right: 9px;
            }

            .body-header li:first-child {
                margin-left: 0;
            }

            .body-header li:first-child,
            .body-header li:nth-child(2) {
                opacity: .3;
            }

    .content-body {
        display: flex;
        justify-content: space-between;
        padding: 0 60px 0 24px;
    }

    .main-content,
    .sidebar-wrap {
        background: #fff;
        border-radius: 12px;
    }

    .sidebar-wrap {
        width: 420px;
        background: var(--gray);
    }

    .main-content {
        width: 850px;
        height: auto;
        margin-left: 20px;
    }

    .info-user-wrap {
        background: var(--blue);
        height: 354px;
        border-radius: 12px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        color: #fff;
    }

        .info-user-wrap img {
            background: #fff;
            width: 68px;
            height: 68px;
            border-radius: 50%;
        }

    .point-wrap {
        background: #fff;
        width: 380px;
        height: 202px;
        border-radius: 12px;
        padding: 10px;
        color: #000;
    }

    .barPoint {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .barPoint hr {
            width: 50%;
            height: 6px;
            width: 277px;
            background: var(--gray);
            border: none;
            margin: 0;
        }

        .barPoint + div {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .barPoint i:first-child,
        .imgthanhvien:first-child p {
            color: var(--green);
        }

    .point-wrap i:last-child {
        color: var(--gray);
    }

    .imgthanhvien {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        width: 65px;
        height: 58px;
    }

        .imgthanhvien img {
            width: 83%;
            height: 65%;
            object-fit: fill;
        }

    .barPoint + div div:nth-child(2) {
        color: var(--black);
        font-size: 13px;
        text-align: center;
    }

        .barPoint + div div:nth-child(2) p:first-child {
            color: #757575;
        }

    .hrpb {
        width: 106%;
        margin-left: -10px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .imgthanhvien1 {
        margin-top: 18px;
        width: 83px;
        border-right: 1px solid #ddd;
        text-align: center;
    }

        .imgthanhvien1 img {
            width: 65px;
            height: 50px;
        }

        .imgthanhvien1 p {
            font-weight: 600;
            font-size: 12px;
        }

    .hrpb + div {
        display: flex;
        justify-content: space-between;
    }

    .accumulated-points {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 227px;
        margin-top: 18px;
    }

        .accumulated-points div {
            display: flex;
            justify-content: space-between;
            color: #5dac46;
            font-size: 12px;
            font-weight: 500;
        }

            .accumulated-points div:first-child {
                color: #0f62f9;
            }

            .accumulated-points div:last-child {
                color: #ce3c3c;
            }

    .sidebar1,
    .sidebar2,
    .sidebar3 {
        background: #fff;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 12px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .nav-link.active svg,
    .nav-pills .nav-link:hover,
    .nav-pills .nav-link:hover svg {
        color: var(--blue);
        background: #f2f6fe;
        stroke: var(--blue);
    }

    #v-pills-deliveryaddress.active svg,
    #v-pills-deliveryaddress:hover svg {
        fill: var(--blue);
    }

    #v-pills-deliveryaddress svg {
        stroke: none;
        fill: var(--black);
    }

    .nav-link svg {
        stroke: var(--black);
    }

    .sidebar2 .nav-link:last-child svg {
        stroke: none;
    }

    .sidebar2 .nav-link:nth-child(2) div p:last-child,
    .sidebar2 .nav-link:nth-child(3) div p:last-child {
        color: #17479e;
        font-weight: 700;
    }

    .sidebar1 .nav-link,
    .sidebar2 .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--black);
        height: 64px;
        border-bottom: 1px solid #ddd;
        border-radius: 0 !important;
    }

    .nav-link div {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .nav-link svg {
        margin-right: 10px;
    }

    .sidebar1 i,
    .sidebar2 i {
        color: #b2bac6;
    }

    .sidebar2 {
        margin-top: 20px;
        height: auto;
        cursor: pointer;
    }

        .sidebar2 .nav-link:hover,
        .sidebar2 .nav-link:hover i,
        .sidebar2 .nav-link:hover svg,
        .sidebar2 .nav-link:hover svg path {
            color: var(--blue);
            background: #f2f6fe;
            stroke: var(--blue);
        }

        .sidebar2 .nav-link:nth-child(3):hover svg path {
            stroke: none;
            fill: var(--blue);
        }

    .sidebar3 {
        margin-top: 20px;
        height: 199px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    #v-pills-personal-information {
        padding: 20px;
    }

    .upload-img-wrap {
        width: 395px;
        margin-top: 20px;
    }

    .avatar-upload {
        display: flex;
        flex-direction: column;
    }

        .avatar-upload .avatar-edit {
            position: relative;
            z-index: 10;
        }

    .avatar-edit svg {
        position: absolute;
        top: 35px;
        left: 145px;
    }

    .avatar-upload .avatar-edit input {
        display: none;
    }

    .avatar-upload label {
        cursor: pointer;
        color: var(--blue);
        text-decoration: underline;
        font-size: 13px;
        text-align: center;
        width: 150px;
        margin-left: -19px;
    }


    .avatar-upload .avatar-preview {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin: 0 auto;
        z-index: 7;
    }

        .avatar-upload .avatar-preview > div {
            margin: 5px;
            width: 96%;
            height: 96%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    .title {
        width: 20%;
        display: block;
        position: absolute;
        margin: 30px 35px;
    }

    .upload-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 20px 0px;
    }

    .upload-info-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 415px;
    }

    .span-input {
        margin-top: 20px;
    }

        .span-input.name {
            display: flex;
        }

        .span-input i {
            font-size: 5px;
        }

        .span-input p {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: var(--black);
        }

        .span-input:nth-child(1) div {
            width: 198px;
        }

        .span-input.name input {
            width: 400px;
        }

        .span-input:nth-child(3) input,
        .span-input:nth-child(4) input,
        .span-input:nth-child(5) input {
            width: 100%;
        }

        .span-input input {
            border: none;
            border-bottom: 1px solid #ddd;
        }

        .span-input:nth-child(2) {
            display: flex;
            flex-direction: column;
        }

    .upload-info-wrap a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        width: 30%;
        font-weight: 500;
    }

        .upload-info-wrap a:hover {
            text-decoration: none;
        }

        .upload-info-wrap a i {
            margin-top: 4px;
        }

    .upload-info-wrap button {
        border-radius: 12px;
        color: #fff;
        height: 45px;
        border: none;
        background: #0f62f9;
        font-weight: 500;
    }

        .upload-info-wrap button:disabled {
            opacity: .5;
        }

    .span-input:nth-child(2) div {
        width: 100%;
        margin: 0;
    }

    .span-input input[type='radio'] {
        margin: 0;
    }

        .span-input input[type='radio'] + label {
            margin-right: 50px;
        }


    .span-input input::placeholder {
        color: rgba(0, 0, 0, 0);
    }

    .sidebar3 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

        .sidebar3 div {
            border-bottom: 1px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
        }

        .sidebar3 h5 {
            color: var(--blue);
            margin: 0 10px;
        }

        .sidebar3 p {
            margin-top: 3px;
            font-size: 10px;
        }

        .sidebar3 h3 {
            text-align: center;
            margin: auto;
            font-size: 17px;
        }

            .sidebar3 h3 a {
                color: #8e9aab;
                text-decoration: none;
            }

    .tabs {
        margin-top: 20px;
        padding: 20px;
        width: 900px;
    }

        .tabs .nav-link {
            padding: 25px;
            color: #b2bac6;
            font-size: 1.063rem;
            cursor: pointer;
            border: 0;
            border-radius: 0;
            font-weight: 700 !important;
        }

        .tabs .nav-pills .nav-link:hover {
            background: none !important;
        }

        .tabs .nav-pills .nav-link.active {
            border-bottom: 3px solid #0f62f9;
            background: none !important;
        }

    .detailsorder {
        padding: 0;
        margin-top: 12px;
        border-radius: 0.75rem;
        box-shadow: 0 0 12px rgb(15 61 145 / 12%);
        border: 0;
        margin-bottom: 30px;
        width: 800px;
    }

    legend {
        margin: 0 16px;
        padding: 2px 20px;
        border: 1px solid #0f62f9;
        border-radius: 0.75rem;
        background-color: #f2f6fe;
        font-size: .75rem;
        color: #112950;
        font-weight: 600;
        display: block;
        width: 115px;
    }

    .listoder-header p {
        color: #8e9aab;
    }

    .listoder-header {
        padding: 10px 16px;
    }

    .point {
        color: #fff !important;
        background-color: #b2bec3;
        padding: 3px 10px;
        font-size: .75rem;
        border-radius: 0.75rem
    }
    .point2 {
        color: #fff !important;
        background-color: #5dac46;
        padding: 3px 10px;
        font-size: .75rem;
        border-radius: 0.75rem
    }

    .state {
        color: #fff !important;
        background-color: #5dac46;
        padding: 3px 12px;
        font-size: .75rem;
        border-radius: 0.75rem;
    }

    .state2 {
        color: #fff !important;
        background-color: #f6b93b;
        padding: 3px 12px;
        font-size: .75rem;
        border-radius: 0.75rem;
    }

    .oderid {
        color: #000 !important;
    }

    .priceoder {
        color: #000 !important;
        font-weight: bold;
    }

    .listoder-bot {
        border-top: 1px solid #e5e5e5;
        height: 50px;
        padding: 5px;
    }

        .listoder-bot a {
            margin-left: 89%;
            text-decoration: none;
            font-size: .75rem;
            color: #0f62f9;
        }

    .empty-result {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        .empty-result p {
            margin-top: 20px;
        }

    .searchbox {
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid #e5e5e5;
        padding: 0 16px;
        height: 54px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0.75rem;
        margin-top: 20px;
    }

        .searchbox i {
            color: #000;
            font-size: 20px;
        }

    .search {
        border: 0;
        margin-left: 5px;
        outline: none;
    }

    .sortbox {
        width: auto;
        margin-top: 15px;
        margin-left: 80%;
    }

    select {
        border: none
    }

        select:focus {
            outline: none;
        }

    .sortbox select option {
        height: 40px;
        padding: 10px;
    }

    .history-purchase {
        height: auto;
    }

    .tabs .tab-content .tab-pane.active {
        display: block !important;
    }

    .deli-address .tab-content .tab-pane.active {
        display: block !important;
    }

    .my-voucher {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }

    .health-declaration {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        width: 85%;
    }
    .health-book {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
</style>

<div style="margin-top:10%" class="container-body">
    <div class="body-header">
        <ul>
            <li>Trang chủ</li>
            <li><i class="fas fa-circle"></i>Trang cá nhân</li>
            <li><i class="fas fa-circle"></i>Chỉnh sửa thông tin cá nhân</li>
        </ul>
    </div>
    <div class="content-body">
        <div class="sidebar-wrap">
            <div class="info-user-wrap">
                <img src="~/Vendor/img/avatar/@(Model.AccountId.ToString()).png">
                <h2>@(Model.UserName)</h2>
                <div class="point-wrap">
                    <div>
                        <div class="barPoint">
                            <i class="fas fa-circle"></i>
                            <hr>
                            <i class="fas fa-circle"></i>
                        </div>
                        <div>
                            <div class="imgthanhvien">
                                <img src="~/FE/img/thethanhvien_green.png" alt="">
                                <p>Thành viên</p>
                            </div>
                            <div>
                                @if (Model.IsVIP == false || Model.IsVIP == null)
                                {
                                    <p>Để lên hạng bạn cần chi tiêu thêm</p>
                                    <p>@TempData["PointToVIP"] VND</p>
                                }
                                else
                                {
                                    <p>Bạn đã là thành viên VIP</p>
                                }
                            </div>
                            <div class="imgthanhvien">
                                <img src="~/FE/img/thethanhvien_yellow.png" alt="">
                                <p>V.I.P</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hrpb">
                    <div>
                        @if (Model.IsVIP == true)
                        {
                            <div class="imgthanhvien1">
                                <img src="~/Vendor/img/icon/thethanhvien_yellow.png" />
                                <p>V.I.P</p>
                            </div>
                        }
                        else
                        {
                            <div class="imgthanhvien1">
                                <img src="~/Vendor/img/icon/thethanhvien_green.png" />
                                <p>Thành viên</p>
                            </div>
                        }
                        <div class="accumulated-points">
                            <div>
                                <p>Điểm tích lũy</p>
                                @if (Model.PowerPoint != null)
                                {
                                    <p>@String.Format("{0:0,0}", Model.PowerPoint)</p>
                                }
                                else
                                {
                                    <p>0</p>
                                }
                            </div>
                            <div>
                                <p>Điểm có thể dùng</p>
                                @if (Model.PowerPoint != null)
                                {
                                    <p>@TempData["UseablePoint"]</p>
                                }
                                else
                                {
                                    <p>0</p>
                                }
                            </div>
                            <div>
                                <p>Điểm đã dùng</p>
                                @if (Model.UsedPoint != null)
                                {
                                    <p>@String.Format("{0:0,0}", Model.UsedPoint)</p>
                                }
                                else
                                {
                                    <p>0</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar1">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-personalinformation" data-toggle="pill"
                       href="#v-pills-personal-information" role="tab" aria-controls="v-pills-personal-information"
                       aria-selected="true">
                        <div class="nav-link-border">
                            <div>
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                                          stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M19.2101 15.74L15.67 19.2801C15.53 19.4201 15.4 19.68 15.37 19.87L15.18 21.22C15.11 21.71 15.45 22.05 15.94 21.98L17.29 21.79C17.48 21.76 17.75 21.63 17.88 21.49L21.42 17.95C22.03 17.34 22.32 16.63 21.42 15.73C20.53 14.84 19.8201 15.13 19.2101 15.74Z"
                                          stroke="inherit" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                    <path d="M18.7002 16.25C19.0002 17.33 19.8402 18.17 20.9202 18.47" stroke="inherit"
                                          stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M3.41016 22C3.41016 18.13 7.26018 15 12.0002 15C13.0402 15 14.0402 15.15 14.9702 15.43"
                                          stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                Chỉnh sửa thông tin cá nhân
                            </div>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </a>

                    <a class="nav-link" id="v-pills-orderhistory" data-toggle="pill" href="#v-pills-order-history" role="tab"
                       aria-controls="v-pills-order-history" aria-selected="false">
                        <div>
                            <svg width="18" height="17" viewBox="0 0 20 20" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M19.25 10C19.25 15.108 15.109 19.25 10 19.25C4.892 19.25 0.75 15.108 0.75 10C0.75 4.891 4.892 0.75 10 0.75C15.109 0.75 19.25 4.891 19.25 10Z"
                                      stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M14.1911 10.7667L9.66113 10.6927V5.8457" stroke="inherit" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            Lịch sử đơn hàng
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </a>

                    <a class="nav-link" id="v-pills-deliveryaddress" data-toggle="pill" href="#v-pills-delivery-address"
                       role="tab" aria-controls="v-pills-delivery-address" aria-selected="false">
                        <div>
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                                <path d="M11.999 0C6.89854 0 2.74902 4.14952 2.74902 9.24998C2.74902 12.1186 4.23332 15.4504 7.16071 19.1527C9.30276 21.8617 11.414 23.734 11.5028 23.8124C11.7863 24.0625 12.2117 24.0625 12.4952 23.8124C12.5841 23.734 14.6953 21.8617 16.8373 19.1527C19.7647 15.4504 21.249 12.1186 21.249 9.24998C21.249 4.14952 17.0995 0 11.999 0V0ZM11.999 22.2268C10.2166 20.5281 4.24902 14.4514 4.24902 9.24998C4.24902 4.97662 7.72565 1.5 11.999 1.5C16.2724 1.5 19.749 4.97662 19.749 9.24998C19.749 14.4514 13.7813 20.5282 11.999 22.2268Z">
                                </path>
                                <path d="M17.7371 8.80556L12.4871 4.30556C12.2062 4.06481 11.7918 4.06481 11.5109 4.30556L6.26093 8.80556C5.94645 9.07509 5.91003 9.54862 6.1796 9.86311C6.44918 10.1776 6.92267 10.214 7.23715 9.94444L7.874 9.39853V13.125C7.874 13.5392 8.20981 13.875 8.624 13.875H15.374C15.7882 13.875 16.124 13.5392 16.124 13.125V9.39853L16.7609 9.94444C17.0768 10.2152 17.5501 10.1762 17.8184 9.86311C18.088 9.54862 18.0516 9.07514 17.7371 8.80556ZM14.624 12.375H9.374V8.1128L11.999 5.8628L14.624 8.1128V12.375Z">
                                </path>
                            </svg>
                            Sổ địa chỉ nhận hàng
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <a class="nav-link" id="v-pills-voucher" data-toggle="pill" href="#v-pills-my-voucher"
                       role="tab" aria-controls="v-pills-voucher" aria-selected="false">
                        <div>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.8496 4.25V6.67" stroke="#112950" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.8496 17.7598V19.7838" stroke="#112950" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.8496 14.3249V9.50391" stroke="#112950" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.7021 20C20.5242 20 22 18.5426 22 16.7431V14.1506C20.7943 14.1506 19.8233 13.1917 19.8233 12.001C19.8233 10.8104 20.7943 9.85039 22 9.85039L21.999 7.25686C21.999 5.45745 20.5221 4 18.7011 4H5.29892C3.47789 4 2.00104 5.45745 2.00104 7.25686L2 9.93485C3.20567 9.93485 4.17668 10.8104 4.17668 12.001C4.17668 13.1917 3.20567 14.1506 2 14.1506V16.7431C2 18.5426 3.4758 20 5.29787 20H18.7021Z" stroke="#112950" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            Mã khuyến mãi của bạn
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </a>

                    <a class="nav-link" id="v-pills-healthDeclaration" data-toggle="pill" href="#v-pills-health-declaration"
                       role="tab" aria-controls="v-pills-health-declaration" aria-selected="false">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50"><path d="M 19 1 C 17.906937 1 17 1.9069372 17 3 L 9 3 C 7.3545455 3 6 4.3545455 6 6 L 6 45 C 6 46.645455 7.3545455 48 9 48 L 41 48 C 42.645455 48 44 46.645455 44 45 L 44 6 C 44 4.3545455 42.645455 3 41 3 L 33 3 C 33 1.9069372 32.093063 1 31 1 L 19 1 z M 19 3 L 31 3 L 31 8 L 19 8 L 19 3 z M 9 5 L 17 5 L 17 7 L 10 7 L 10 44 L 40 44 L 40 7 L 33 7 L 33 5 L 41 5 C 41.554545 5 42 5.4454545 42 6 L 42 45 C 42 45.554545 41.554545 46 41 46 L 9 46 C 8.4454545 46 8 45.554545 8 45 L 8 6 C 8 5.4454545 8.4454545 5 9 5 z M 12 9 L 17.28125 9 C 17.630903 9.5927394 18.271181 10 19 10 L 31 10 C 31.728819 10 32.369097 9.5927394 32.71875 9 L 38 9 L 38 42 L 12 42 L 12 9 z M 16 13 L 16 15 L 34 15 L 34 13 L 16 13 z M 16 18 L 16 20 L 34 20 L 34 18 L 16 18 z M 16 23 L 16 25 L 24 25 L 24 23 L 16 23 z M 34 28 C 32.895 28 32 28.895 32 30 C 32 30.231869 32.046654 30.451156 32.119141 30.658203 L 28.365234 35.037109 C 28.246261 35.015064 28.125381 35 28 35 C 27.821821 35 27.652668 35.030549 27.488281 35.074219 L 23.925781 31.511719 C 23.969451 31.347332 24 31.178179 24 31 C 24 29.895 23.105 29 22 29 C 20.895 29 20 29.895 20 31 C 20 31.178179 20.030549 31.347332 20.074219 31.511719 L 16.511719 35.074219 C 16.347332 35.030549 16.178179 35 16 35 C 14.895 35 14 35.895 14 37 C 14 38.105 14.895 39 16 39 C 17.105 39 18 38.105 18 37 C 18 36.821821 17.969451 36.652668 17.925781 36.488281 L 21.488281 32.925781 C 21.652668 32.969451 21.821821 33 22 33 C 22.178179 33 22.347332 32.969451 22.511719 32.925781 L 26.074219 36.488281 C 26.030549 36.652668 26 36.821821 26 37 C 26 38.105 26.895 39 28 39 C 29.105 39 30 38.105 30 37 C 30 36.768131 29.953346 36.548844 29.880859 36.341797 L 33.634766 31.962891 C 33.753739 31.984936 33.874619 32 34 32 C 35.105 32 36 31.105 36 30 C 36 28.895 35.105 28 34 28 z" /></svg>
                            Khai báo sức khoẻ
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <a class="nav-link" id="v-pills-healthBook" data-toggle="pill" href="#v-pills-health-book"
                       role="tab" aria-controls="v-pills-health-book" aria-selected="false">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50"><path d="M 11 4 C 9.355469 4 8 5.355469 8 7 L 8 12 L 7 12 C 6.96875 12 6.9375 12 6.90625 12 C 6.355469 12.027344 5.925781 12.496094 5.953125 13.046875 C 5.980469 13.597656 6.449219 14.027344 7 14 L 11 14 C 11.359375 14.003906 11.695313 13.816406 11.878906 13.503906 C 12.058594 13.191406 12.058594 12.808594 11.878906 12.496094 C 11.695313 12.183594 11.359375 11.996094 11 12 L 10 12 L 10 7 C 10 6.445313 10.445313 6 11 6 L 39 6 C 39.554688 6 40 6.445313 40 7 L 40 43 C 40 43.554688 39.554688 44 39 44 L 11 44 C 10.445313 44 10 43.554688 10 43 L 10 39 L 8 39 L 8 43 C 8 44.644531 9.355469 46 11 46 L 39 46 C 40.644531 46 42 44.644531 42 43 L 42 7 C 42 5.355469 40.644531 4 39 4 Z M 8 15 L 8 18 L 7 18 C 6.96875 18 6.9375 18 6.90625 18 C 6.875 18 6.84375 18 6.8125 18 C 6.261719 18.050781 5.855469 18.542969 5.90625 19.09375 C 5.957031 19.644531 6.449219 20.050781 7 20 L 11 20 C 11.359375 20.003906 11.695313 19.816406 11.878906 19.503906 C 12.058594 19.191406 12.058594 18.808594 11.878906 18.496094 C 11.695313 18.183594 11.359375 17.996094 11 18 L 10 18 L 10 15 Z M 22 16 L 22 22 L 16 22 L 16 28 L 22 28 L 22 34 L 28 34 L 28 28 L 34 28 L 34 22 L 28 22 L 28 16 Z M 24 18 L 26 18 L 26 24 L 32 24 L 32 26 L 26 26 L 26 32 L 24 32 L 24 26 L 18 26 L 18 24 L 24 24 Z M 8 21 L 8 24 L 7 24 C 6.96875 24 6.9375 24 6.90625 24 C 6.355469 24.027344 5.925781 24.496094 5.953125 25.046875 C 5.980469 25.597656 6.449219 26.027344 7 26 L 11 26 C 11.359375 26.003906 11.695313 25.816406 11.878906 25.503906 C 12.058594 25.191406 12.058594 24.808594 11.878906 24.496094 C 11.695313 24.183594 11.359375 23.996094 11 24 L 10 24 L 10 21 Z M 8 27 L 8 30 L 7 30 C 6.96875 30 6.9375 30 6.90625 30 C 6.355469 30.027344 5.925781 30.496094 5.953125 31.046875 C 5.980469 31.597656 6.449219 32.027344 7 32 L 11 32 C 11.359375 32.003906 11.695313 31.816406 11.878906 31.503906 C 12.058594 31.191406 12.058594 30.808594 11.878906 30.496094 C 11.695313 30.183594 11.359375 29.996094 11 30 L 10 30 L 10 27 Z M 8 33 L 8 36 L 7 36 C 6.96875 36 6.9375 36 6.90625 36 C 6.355469 36.027344 5.925781 36.496094 5.953125 37.046875 C 5.980469 37.597656 6.449219 38.027344 7 38 L 11 38 C 11.359375 38.003906 11.695313 37.816406 11.878906 37.503906 C 12.058594 37.191406 12.058594 36.808594 11.878906 36.496094 C 11.695313 36.183594 11.359375 35.996094 11 36 L 10 36 L 10 33 Z" /></svg>
                            Sổ sức khoẻ điện tử
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="sidebar2">
                <div class="nav-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" stroke="#333333" fill="none">
                        <path d="M12 15C15.7279 15 18.75 12.0899 18.75 8.5C18.75 4.91015 15.7279 2 12 2C8.27208 2 5.25 4.91015 5.25 8.5C5.25 12.0899 8.27208 15 12 15Z"
                              stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M7.51974 13.5198L7.50977 20.8998C7.50977 21.7998 8.13977 22.2398 8.91977 21.8698L11.5998 20.5999C11.8198 20.4899 12.1898 20.4899 12.4098 20.5999L15.0998 21.8698C15.8698 22.2298 16.5098 21.7998 16.5098 20.8998V13.3398"
                              stroke="inherit" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div>
                        <p>Quy chế xếp hạng <p> &nbspThẻ thành viên</p>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="nav-link">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <path d="M14.68 22.75H8C4.35 22.75 2.25 20.65 2.25 17V7.5C2.25 3.85 4.35 1.75 8 1.75H16C19.65 1.75 21.75 3.85 21.75 7.5V13.63C21.75 13.92 21.58 14.18 21.33 14.31C21.07 14.43 20.76 14.4 20.54 14.22C18.96 12.96 16.53 12.96 14.95 14.25C13.87 15.1 13.26 16.37 13.26 17.76C13.26 18.58 13.48 19.38 13.91 20.07C14.24 20.61 14.65 21.06 15.13 21.4C15.39 21.59 15.51 21.93 15.41 22.24C15.29 22.54 15.01 22.75 14.68 22.75ZM8 3.25C5.14 3.25 3.75 4.64 3.75 7.5V17C3.75 19.86 5.14 21.25 8 21.25H12.89C12.79 21.12 12.7 20.98 12.62 20.84C12.05 19.92 11.75 18.85 11.75 17.75C11.75 15.9 12.57 14.2 14.01 13.07C15.72 11.68 18.25 11.38 20.25 12.3V7.5C20.25 4.64 18.86 3.25 16 3.25H8Z"
                              fill="#292D32"></path>
                        <path d="M13 11.75H7C6.59 11.75 6.25 11.41 6.25 11C6.25 10.59 6.59 10.25 7 10.25H13C13.41 10.25 13.75 10.59 13.75 11C13.75 11.41 13.41 11.75 13 11.75Z"
                              fill="#292D32"></path>
                        <path d="M13 7.5H7C6.59 7.5 6.25 7.16 6.25 6.75C6.25 6.34 6.59 6 7 6H13C13.41 6 13.75 6.34 13.75 6.75C13.75 7.16 13.41 7.5 13 7.5Z"
                              fill="#292D32"></path>
                        <path d="M17.75 7.5H11.75C11.34 7.5 11 7.16 11 6.75C11 6.34 11.34 6 11.75 6H17.75C18.16 6 18.5 6.34 18.5 6.75C18.5 7.16 18.16 7.5 17.75 7.5Z"
                              fill="#292D32"></path>
                        <path d="M9.62 16.75H7C6.59 16.75 6.25 16.41 6.25 16C6.25 15.59 6.59 15.25 7 15.25H9.62C10.03 15.25 10.37 15.59 10.37 16C10.37 16.41 10.04 16.75 9.62 16.75Z"
                              fill="#292D32"></path>
                        <path d="M20.37 18.5H17.75C17.34 18.5 17 18.16 17 17.75C17 17.34 17.34 17 17.75 17H20.37C20.78 17 21.12 17.34 21.12 17.75C21.12 18.16 20.79 18.5 20.37 18.5Z"
                              fill="#292D32"></path>
                        <path d="M18.5 14.7501L18.5 17.3701C18.5 17.7801 18.16 18.1201 17.75 18.1201C17.34 18.1201 17 17.7801 17 17.3701L17 14.7501C17 14.3401 17.34 14.0001 17.75 14.0001C18.16 14.0001 18.5 14.3301 18.5 14.7501Z"
                              fill="#292D32"></path>
                        <path d="M17.75 23.75C16.47 23.75 15.26 23.35 14.24 22.61C13.6 22.15 13.05 21.55 12.62 20.84C12.05 19.92 11.75 18.85 11.75 17.75C11.75 15.9 12.57 14.2 14.01 13.07C16.09 11.38 19.37 11.37 21.47 13.04C22.92 14.18 23.75 15.9 23.75 17.75C23.75 18.85 23.45 19.92 22.88 20.84C22.56 21.39 22.15 21.87 21.68 22.26C20.61 23.22 19.21 23.75 17.75 23.75ZM17.75 13.25C16.73 13.25 15.73 13.6 14.94 14.24C13.86 15.09 13.25 16.36 13.25 17.75C13.25 18.57 13.47 19.37 13.9 20.06C14.23 20.6 14.64 21.05 15.12 21.39C15.89 21.95 16.8 22.25 17.75 22.25C18.86 22.25 19.88 21.86 20.7 21.13C21.06 20.83 21.35 20.48 21.59 20.07C22.02 19.37 22.25 18.57 22.25 17.75C22.25 16.36 21.63 15.0799 20.54 14.2199C19.74 13.5799 18.78 13.25 17.75 13.25Z"
                              fill="#292D32"></path>
                    </svg>
                    <div>
                        <p>Lịch sử dùng điểm <p> &nbspThẻ thành viên</p>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="sidebar3">
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g>
                            <path d="M21.8906 7.07745H20.4407C19.9659 5.94791 19.2585 4.90634 18.3626 4.03789C16.9544 2.67284 15.1312 1.78339 13.229 1.53336C10.0768 1.11903 6.98733 2.3263 4.96486 4.76277C4.38445 5.462 3.91214 6.24449 3.56348 7.07745H2.10938C0.946266 7.07745 0 8.02372 0 9.18683V11.9993C0 13.1624 0.946266 14.1087 2.10938 14.1087H4.98984L4.68863 13.1871C3.81084 10.5015 4.30594 7.75836 6.04692 5.66094C7.75889 3.59844 10.3754 2.57666 13.0457 2.92761C16.3905 3.36725 19.0988 5.99403 19.6316 9.3155C19.9953 11.582 19.3609 13.8722 17.891 15.599C16.4178 17.3299 14.2746 18.3243 12.0108 18.3275C10.8418 18.329 9.89067 19.2754 9.89067 20.4368C9.89067 21.5999 10.8369 22.5462 12 22.5462C13.1632 22.5462 14.1094 21.5999 14.1094 20.4368V19.4869C15.9825 19.0421 17.6853 18.0103 18.9619 16.5105C19.582 15.782 20.0757 14.9771 20.4378 14.1087H21.8906C23.0537 14.1087 24 13.1624 24 11.9993V9.18678C24 8.02372 23.0537 7.07745 21.8906 7.07745ZM3.0968 12.7025H2.10938C1.72167 12.7025 1.40625 12.387 1.40625 11.9993V9.18683C1.40625 8.79913 1.72167 8.4837 2.10938 8.4837H3.10519C3.08016 8.58908 3.057 8.69502 3.03581 8.80124C2.77917 10.0871 2.80003 11.3956 3.0968 12.7025ZM12.7031 20.4368C12.7031 20.8245 12.3877 21.14 12 21.14C11.6123 21.14 11.2969 20.8245 11.2969 20.4368C11.2969 20.0496 11.618 19.7342 12.0127 19.7337C12.244 19.7334 12.4744 19.7243 12.7031 19.7067V20.4368ZM22.5938 11.9993C22.5938 12.387 22.2783 12.7025 21.8906 12.7025H20.8943C21.1735 11.5282 21.2164 10.3162 21.0201 9.0927C20.9873 8.88842 20.9467 8.68531 20.8992 8.4837H21.8906C22.2783 8.4837 22.5938 8.79913 22.5938 9.18683V11.9993Z"
                                  fill="#112950"></path>
                            <path d="M8 13C8.5 14.5 9.79 16 12 16C14.21 16 15.5 14.5 16 13" stroke="#112950" stroke-width="1.5"
                                  stroke-linecap="round"></path>
                            <path d="M9 10C9.55228 10 10 9.32843 10 8.5C10 7.67157 9.55228 7 9 7C8.44772 7 8 7.67157 8 8.5C8 9.32843 8.44772 10 9 10Z"
                                  fill="#112950"></path>
                            <path d="M15 10C15.5523 10 16 9.32843 16 8.5C16 7.67157 15.5523 7 15 7C14.4477 7 14 7.67157 14 8.5C14 9.32843 14.4477 10 15 10Z"
                                  fill="#112950"></path>
                        </g>
                    </svg>
                    <h5>1780 1111</h5>
                    <p>Tư vấn đặt hàng</p>
                </div>
                <h3><a href="/Account/LogOut">Đăng xuất</a></h3>
            </div>

        </div>
        <div class="main-content">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-personal-information" role="tabpanel"
                     aria-labelledby="v-pills-personalinformation">
                    <div class="title">
                        <h4>Chỉnh sửa thông tin cá nhân</h4>
                    </div>
                    <div class="upload-wrap">
                        @Html.Action("Edit", "Account")
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-order-history" role="tabpanel" aria-labelledby="v-pills-orderhistory">
                    <div class="title">
                        <h4>Lịch sử đơn hàng</h4>
                    </div>
                    <div class="tabs">
                        <div class="nav  nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills1" data-toggle="pill" href="#v-pills-1" role="tab"
                               aria-controls="v-pills-1" aria-selected="true">
                                Tất cả
                            </a>
                            <a class="nav-link" id="v-pills2" data-toggle="pill" href="#v-pills-2" role="tab"
                               aria-controls="v-pills-2" aria-selected="false">
                                Chờ xác nhận
                            </a>
                            <a class="nav-link" id="v-pills3" data-toggle="pill" href="#v-pills-3" role="tab"
                               aria-controls="v-pills-3" aria-selected="false">
                                Đang giao
                            </a>
                            <a class="nav-link" id="v-pills4" data-toggle="pill" href="#v-pills-4" role="tab"
                               aria-controls="v-pills-4" aria-selected="false">
                                Hoàn thành
                            </a>
                            <a class="nav-link" id="v-pills5" data-toggle="pill" href="#v-pills-5" role="tab"
                               aria-controls="v-pills-5" aria-selected="false">
                                Đã hủy
                            </a>
                        </div>
                        <div class="searchbox">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M18.129 17.1715L15.2645 14.3709L15.1973 14.2688C15.0725 14.1445 14.9018 14.0745 14.7237 14.0745C14.5455 14.0745 14.3748 14.1445 14.25 14.2688C11.8156 16.5021 8.06447 16.6235 5.48435 14.5524C2.90423 12.4814 2.29574 8.86049 4.06242 6.09116C5.8291 3.32183 9.42274 2.26339 12.4601 3.6178C15.4974 4.9722 17.0359 8.31917 16.0552 11.439C15.9846 11.6644 16.0423 11.9095 16.2066 12.082C16.371 12.2545 16.6169 12.3282 16.8519 12.2753C17.0868 12.2224 17.2751 12.0509 17.3457 11.8255C18.518 8.12322 16.7475 4.13898 13.1794 2.45023C9.61143 0.761484 5.31671 1.87504 3.07356 5.07053C0.830408 8.26602 1.312 12.5845 4.20679 15.2323C7.10159 17.8801 11.5408 18.0626 14.6528 15.6618L17.1891 18.1414C17.451 18.3964 17.8745 18.3964 18.1364 18.1414C18.3981 17.8829 18.3981 17.4665 18.1364 17.2079L18.129 17.1715Z"
                                      fill="#112950"></path>
                            </svg>
                            <input placeholder="Nhập tên sản phẩm,mã đơn..." value="" class="search">
                        </div>
                        <div class="sortbox">
                            <svg stroke="#112950" id="toggleMenuMobile" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none">
                                <path d="M3 7L21 7" stroke="inherit" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M3 12H15" stroke="inherit" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M3 17H7" stroke="inherit" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                            <select class="select-sort">
                                <option value="1">Đơn hàng mới nhất</option>
                                <option value="2">Đơn hàng cũ nhất</option>
                            </select>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                 aria-labelledby="v-pills1">
                                @Html.Action("GetAllOders", "Account")
                            </div>
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills2">
                                @Html.Action("GetWaitOders", "Account")
                            </div>
                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills3">
                                @Html.Action("GetDeliOder", "Account")
                            </div>
                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills4">
                                @Html.Action("GetSuccesOders", "Account")
                            </div>
                            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills5">
                                @Html.Action("GetCancleOders", "Account")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade deli-address" id="v-pills-delivery-address" role="tabpanel"
                     aria-labelledby="v-pills-deliveryaddress">
                    @Html.Action("GetAddressOder", "Account")
                </div>
                <div class="tab-pane fade my-voucher" id="v-pills-my-voucher" role="tabpanel"
                     aria-labelledby="v-pills-voucher">
                    @Html.Action("Voucher", "Account")
                </div>

                <div class="tab-pane fade " id="v-pills-health-declaration" role="tabpanel"
                     aria-labelledby="v-pills-healthDeclaration">
                    <div class="title">
                        <h4>Khai báo sức khoẻ</h4>
                    </div>
                    <div class="health-declaration">
                        @Html.Action("HealthDeclaration", "Account")
                    </div>
                </div>
                <div class="tab-pane fade " id="v-pills-health-book" role="tabpanel"
                     aria-labelledby="v-pills-healthBook">
                    <div class="title">
                        <h4>Sổ sức khoẻ</h4>
                    </div>
                    <div class="health-book">
                        @Html.Action("HealthBook", "Account")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

