@model Medimall.Models.Account
<style>
    /*CSS For Chang Password*/
    .Changepassword a {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin: 0;
        text-decoration: none;
        color: black;
    }

    .Changepassword span {
        color: red
    }

    .Changepassword .input-pass {
        width: 500px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 15px;
    }

    .input-pass input {
        border: none;
        outline: none;
    }

    #getchangepass {
        padding-left: 15px;
    }

    .btnchange {
        background-color: #0f62f9;
        color: #fff;
        opacity: 1;
        cursor: not-allowed;
        width: 100%;
        border-radius: 12px;
        height: 54px;
        border: none;
    }
</style>

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")

<div id="changpassword" class="Changepassword" style="display:none">
    <a href="" onclick="BackToEdit()">< Đổi mật khẩu</a><br />
    <label>Mật khẩu hiện tại &nbsp; </label><span>*</span>
    <div class="input-pass">
        <svg width="16" height="18" viewBox="0 0 16 18" fill="none"><path d="M11.7239 6.83548V5.04464C11.698 2.94548 9.97471 1.26548 7.87638 1.29131C5.82055 1.31714 4.15805 2.97214 4.12305 5.02798V6.83548" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.92448 10.7969V12.6477" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92435 6.35352C3.13685 6.35352 1.54102 7.66018 1.54102 11.5793C1.54102 15.4993 3.13685 16.806 7.92435 16.806C12.7118 16.806 14.3085 15.4993 14.3085 11.5793C14.3085 7.66018 12.7118 6.35352 7.92435 6.35352Z" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <input type="password" id="txtoldpass" placeholder="Nhập mật khẩu hiện tại" />
    </div>
    @*<p id="txterror1" style="color: red; display: none; margin-bottom: 15px;">Thông tin này là bắt buộc,vui lòng nhập đầy đủ</p>*@
    <label>Mật khẩu mới &nbsp; </label><span>*</span>
    <div class="input-pass">
        <svg width="16" height="18" viewBox="0 0 16 18" fill="none"><path d="M11.7239 6.83548V5.04464C11.698 2.94548 9.97471 1.26548 7.87638 1.29131C5.82055 1.31714 4.15805 2.97214 4.12305 5.02798V6.83548" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.92448 10.7969V12.6477" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92435 6.35352C3.13685 6.35352 1.54102 7.66018 1.54102 11.5793C1.54102 15.4993 3.13685 16.806 7.92435 16.806C12.7118 16.806 14.3085 15.4993 14.3085 11.5793C14.3085 7.66018 12.7118 6.35352 7.92435 6.35352Z" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <input type="password" id="txtnewpass" placeholder="Nhập mật khẩu mới" />
    </div>
    @*<p id="txterror2" style="color: red; display: none; margin-bottom: 10px; ">Thông tin này là bắt buộc,vui lòng nhập đầy đủ</p>*@
    <p id="checkpass" style="color: red; display: none;margin-bottom:15px;">Vui lòng nhập mật khẩu trên 6 ký tự</p>
    <label>Nhập lại mật khẩu mới &nbsp; </label><span>*</span>
    <div class="input-pass">
        <svg width="16" height="18" viewBox="0 0 16 18" fill="none"><path d="M11.7239 6.83548V5.04464C11.698 2.94548 9.97471 1.26548 7.87638 1.29131C5.82055 1.31714 4.15805 2.97214 4.12305 5.02798V6.83548" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.92448 10.7969V12.6477" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.92435 6.35352C3.13685 6.35352 1.54102 7.66018 1.54102 11.5793C1.54102 15.4993 3.13685 16.806 7.92435 16.806C12.7118 16.806 14.3085 15.4993 14.3085 11.5793C14.3085 7.66018 12.7118 6.35352 7.92435 6.35352Z" stroke="#8894A7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <input type="password" id="txtnewpass2" placeholder="Nhập lại mật khẩu mới" />
    </div>
    @*<p id="txterror3" style="color: red; display: none;margin-bottom:15px;">Thông tin này là bắt buộc,vui lòng nhập đầy đủ</p>*@
    <p id="recheckpass" style="color: red; display: none;margin-bottom:15px;">Mật khẩu không trùng khớp</p>
    <button class="btnchange" onclick="ConfirmChange()">Xác nhận</button>
</div>
<div class="detail-account" style="display:flex" id="detail-account">
    <div class="upload-img-wrap">
        <div class="avatar-upload">
            <div class="avatar-edit">

                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            </div>
            <div class="avatar-preview">
                <div id="imagePreview">
                    <img style="width:97%" src="~/Vendor/img/avatar/@(Model.AccountId).png">
                </div>
                <label for="imageUpload">Bấm để cập nhật ảnh mới</label>
            </div>
        </div>
    </div>
    <div class="upload-info-wrap">


        <div class="span-input name">
            <div>
                <p>Họ và tên <i class="fas fa-asterisk fa-xs" style="color: red;"></i></p>
                <input type="text" id="txtname" name="Name" placeholder="none" value="@(Model.FullName)">
            </div>
        </div>
        <div class="span-input">
            <p>Giới tính</p>
            <div>
                @Html.RadioButtonFor(modelItem => Model.Gender, 1, new { name = "gender" }) Nam
                @Html.RadioButtonFor(modelItem => Model.Gender, 2, new { name = "gender" }) Nữ
                @Html.RadioButtonFor(modelItem => Model.Gender, 3, new { name = "gender" }) Khác
            </div>
        </div>
        <div class="span-input">
            <p>Ngày tháng năm sinh</p>
            @Html.TextBoxFor(modelItem => modelItem.BirthDay, new { id = "txtbirthday", name = "Birthday" })
        </div>
        <div class="span-input">
            <p>Số điện thoại</p>
            @Html.TextBoxFor(modelItem => Model.Phone, new { id = "txtphone", name = "Phone" })
        </div>
        <div class="span-input">
            <p>Email</p>
            @Html.TextBoxFor(modelItem => Model.Email, new { id = "txtemail", name = "Email" })
        </div>
        <a href="#" onclick="ShowUpdatePass()">Đổi mật khẩu<i class="fas fa-chevron-right"></i></a>
        <button onclick="UpdateCustomer(@Model.AccountId)">Lưu thông tin</button>
    </div>
</div>
<script type="text/javascript">
    clickA = () => {
        console.log('l')
    };
    function UpdateCustomer(id) {
        FullName = document.getElementById("txtname");
        BirthDay = document.getElementById("txtbirthday");
        Phone = document.getElementById("txtphone");
        Email = document.getElementById("txtemail");
        var Gender
        var ele = document.getElementsByTagName('input');
        for (i = 0; i < ele.length; i++) {

            if (ele[i].type = "radio") {

                if (ele[i].checked)
                    Gender=ele[i].value;
            }
        }
        var customer = {
            "fullname": FullName.value,
            "birthday": BirthDay.value,
            "phone": Phone.value,
            "email": Email.value,
            "gender": Gender
        };
        $.ajax({
                type: "POST",
                url: "/Account/UpdateCustomer/" + id,
                data: customer,
                success: function (result) {
                    window.location.href = '@Url.Action("Account","Account")';
                }
         })
    };
    function ShowUpdatePass() {
        $("#detail-account").hide();
        $("#changpassword").show();
    };
    function BackToEdit() {
        $("#detail-account").show();
        $("#changpassword").hide();
    };
    function ConfirmChange() {
        var oldPass = document.getElementById("txtoldpass");
        var newPass = document.getElementById("txtnewpass");
        var newPass2 = document.getElementById("txtnewpass2");
        if (oldPass.value == "" || newPass.value == "" || newPass2.value == "") {
            var errormess = "Vui lòng điền đầy đủ thông tin";
            alertify.error(errormess);
            errormess = '';
        }
        if (newPass.value.length > 1 && newPass.value.length < 6) {
            document.getElementById("checkpass").style.display = "block";
        }
        if (newPass.value != newPass2.value) {
            document.getElementById("recheckpass").style.display="block";
        }
        var data = {
            oldPass : oldPass.value,
            newPass: newPass.value
        }

            $.ajax({
                type: "POST",
                url: "/Account/UpdatePassword",
                data: data,
                success: function (result) {
                    if (result == true) {
                        var succmess = "Cập nhập thành công";
                        alertify.success(succmess);
                        succmess = '';
                    }
                    else {
                        var errormess = "Mật khẩu không chính xác";
                        alertify.error(errormess);
                        errormess = '';
                    }
                }
         })
    };
</script>

