@model IEnumerable<Medimall.Models.Product>
@{
    ViewBag.Title = "ViewProductForCategory";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<style>
    :root {
        --blue: #0f62f9;
        --darkblue: #003cbf;
        --green: #5dac46;
        --gray: #ededed;
        --black: #112950;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        padding: 0;
    }

    body {
        background: var(--gray);
    }

    .container-body {
        background: var(--gray);
        color: var(--black);
        width: 1296px;
        margin: 0 auto;
    }

    .body-header {
        display: flex;
        margin: 0 auto;
        padding: 24px;
        background: var(--gray);
        width: 1223px;
    }

    .body2 {
        background: #f2f6fe;
    }

    .body-header li {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 9px;
        line-height: 20px;
    }

        .body-header li i {
            color: var(--green);
            font-size: 4px;
            margin-right: 9px;
        }

        .body-header li:first-child {
            margin-left: 0;
        }

        .body-header li:first-child {
            opacity: 0.3;
        }

    .title {
        background: #f2f6fe;
        padding: 32px 24px;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        width: 1223px;
        margin: 0 auto;
    }

    .body1 {
        width: 100%;
        background: var(--gray);
        margin:0 auto;
    }

    .body {
        width: 100%;
        background: #fff;
    }

    .content-body {
        margin: 0 auto;
        width: 1223px;
        display: flex;
        justify-content: center;
        background: #fff;
        padding: 0 0px 0 24px;
    }

    .ct-left {
        border-right: 1px solid #ddd;
        margin-right: 17px;
        padding-top: 24px;
    }

    .title-body {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    .span-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;
        color: #112950;
    }

        .span-item:hover {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            background: #f2f6fe;
            cursor: pointer;
            color: #003cbf;
        }

        .span-item img {
            width: 25%;
            height: 25%;
            object-fit: cover;
            margin-right: 40px;
        }

        .span-item:hover {
            text-decoration: none;
        }

    .ct-right {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 925px;
        flex-wrap: wrap;
        padding-top: 74px;
    }

    .item {
        margin-bottom: 30px;
        box-sizing: border-box;
        width: 215px;
        height: 437px;
        box-shadow: 0 0 12px rgb(15 61 145 / 12%);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 17px 15px;
        background: #fff;
    }

        .item div {
            padding: 0px 10px;
        }

        .item img {
            margin-bottom: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .item p {
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 20px;
        }

        .item h4 {
            color: var(--blue);
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 8px;
        }

        .item button {
            width: 199px;
            height: 44px;
            background: var(--green);
            color: #fff;
            line-height: 24px;
            padding: 8px 6px;
            text-align: center;
            border-radius: 12px;
            border: none;
        }

        .item:hover {
            cursor: pointer;
            border: 2px solid var(--green);
        }
        .item-category{
            margin-top:120px;
        }
</style>

<div class="item-category">
    <div class="body1">
        <div class="body-header">
            <li>Trang chủ</li>
            <li><i class="fas fa-circle"></i>@ViewBag.categoryname</li>
        </div>
    </div>
    <div class="body2">
        <h3 class="title">@ViewBag.categoryname</h3>
    </div>
    <div class="body">
        <div class="content-body">
            <div class="ct-left">
                <h5 class="title-body">Danh mục</h5>
                <div>
                    @Html.Action("GetCategoryName", "Home");
                </div>
            </div>
            <div class="ct-right">
                @foreach (var item in Model)
                {
                <div class="item">
                    <img src="~/Vendor/img/products/@(item.ProductId).png" alt="" />
                    <div>
                        <p>
                            @item.ProductName
                        </p>
                        <h4>@String.Format("{0:0,0}", item.Price) VND</h4>
                    </div>
                    @if (item.Quantity > 0)
                    {
                        <button onclick="addToCart(@item.ProductId)">
                            Thêm vào giỏ hàng
                        </button>
                    }
                    else
                    {
                        <button style="background-color: #b2bec3 ">
                            Tạm hết hàng
                        </button>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function addToCart(productId) {
            window.location.href = '@Url.Action("AddToCart","Home")/' + productId;
    }
</script>