@model Medimall.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<link href="~/Content/usercss/cart.css" rel="stylesheet" />

@if (Model.TotalQuantity() == 0)
{
    <link href="~/Content/usercss/emptycart.css" rel="stylesheet" />
    <div class="container-body" style="margin-top:7%">
        <div class="body-header">
            <li>Trang chủ</li>
            <li><i class="fas fa-circle"></i>Giỏ hàng</li>
        </div>
        <div class="content-body">
            <div class="ct-left">
                <h2>Giỏ hàng</h2>
                <div>
                    <img src="~/Vendor/img/icon/empty-image.png" />
                    <p>
                        Tiếc quá! Medimall không tìm thấy sản phẩm <br>
                        nào trong giỏ hàng của bạn.
                    </p>
                </div>
            </div>
            <div class="ct-right">
                <h2>Tổng tiền</h2>
                <span>
                    <p>Tạm tính</p>
                    <p>= -</p>
                </span>
                <button><a href="@Url.Action("Index","Home")">Tiếp tục mua hàng <i class="fas fa-chevron-right"></i></a></button>
            </div>
        </div>
    </div>
}
else
{
    <div id="blur" class="disblur"></div>
    <div class="container-body" style="margin-top:12%">
        <div class="body-header">
            <li>Trang chủ</li>
            <li><i class="fas fa-circle"></i>Giỏ hàng</li>
            <li><i class="fas fa-circle"></i>Thanh toán</li>
        </div>

        <div class="content-body">
            <div class="content-left">

                <div class="ct-left-box">
                    <h3>Giỏ hàng</h3>
                    <div class="ct-left3-div">
                        <p class="index">1</p>
                        <p class="checkout-title">Giỏ hàng (@Model.TotalQuantity() sản phẩm -  @String.Format("{0:0,0}", Model.TotalMoney()) VND)</p>
                    </div>
                    @foreach (var item in Model.Items)
                    {
                        <div class="popup" id="popup">
                            <h4>Xóa sản phẩm</h4>
                            <p>Bạn có muốn xóa toàn bộ sản phẩm khỏi giỏ hàng không?</p>
                            <input type="button" class="back" value="Quay Lại" onclick="backFunction()">
                            <a class="deleteall" href="/Cart/RemoveCart/@item._shopping_product.ProductId">Xóa</a>
                        </div>
                        <div class="popup" id="popup2">
                            <h4>Xóa sản phẩm</h4>
                            <p>Bạn có muốn xóa sản phẩm này khỏi giỏ hàng?</p>
                            <div style="display: flex; justify-content: space-evenly">
                                <input type="button" class="back" value="Quay Lại" id="back2">
                                <a class="deleteall" href="/Cart/RemoveCart/@item._shopping_product.ProductId" style="text-decoration: none; color: #fff">Xóa</a>
                            </div>
                        </div>
                        double total = Convert.ToDouble(item._shopping_product.Price.Value * item._shopping_quantity);

                        <div class="left-box-2">
                            <img src="~/Vendor/img/products/@(item._shopping_product.ProductId).png" alt="">
                            <p class="name-product">@item._shopping_product.ProductName</p>
                            <div class="preview-cost">
                                <p>@item._shopping_product.Price VND</p>
                                <p>@String.Format("{0:0,0}", item._shopping_product.Price) VND/Sản phẩm</p>
                            </div>

                            <div class="counter">
                                @using (Html.BeginForm("UpdateQuantity", "Cart"))
                                {
                                    <div class="quantity-product">
                                        <input type="hidden" value="@item._shopping_product.ProductId" name="ProductId" />
                                        <input type="number" class="num" name="quantity" value="@item._shopping_quantity" id="quantity" min="1" />
                                        <div class="col-md-1 deleteone">
                                            <input style="color:black;" id="btn-update-quantity" type="submit" value="Cập nhật" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <p>@String.Format("{0:0,0}", total)</p>
                            <input style="color:red;  padding: 0" type="button" value="x" class="btn" onclick="myFunction2()">
                        </div>
                    }
                    <div class="wrap-preview-total-cost">
                        <p>Tạm tính:</p>
                        <h5>@String.Format("{0:0,0}", Model.TotalMoney())  VNĐ</h5>
                    </div>
                </div>

                <div class="ct-left-box">
                    <div class="ct-left3-div">
                        <p class="index">2</p>
                        <p class="checkout-title">Chọn hình thức giao hàng</p>
                    </div>
                    <div class="tabs-delivery left-box-btn2">
                        <div class="span">
                            <h4>Giao hàng tận nơi</h4>
                        </div>
                        <div class="wrap-modal-delivery">
                            <p>Đơn vị vận chuyển:</p>
                            <button type="button" data-toggle="modal" data-target="#modal-delivery" class="btn-delivery">
                                Chọn hình thức giao hàng
                            </button>

                            @Html.Action("Delivery", "Cart")

                        </div>

                    </div>


                </div>
                <div class="ct-left-box">
                    <div class="ct-left3-div">
                        <p class="index">3</p>
                        <p class="checkout-title">Chọn hình thức thanh toán</p>
                    </div>
                    <label class="box-discount box-money">
                        <img src="~/Vendor/img/icon/money (1).png" alt="" />
                        <div class="money">
                            <h5>Tiền Mặt</h5>
                            <p>Thanh toán bằng tiền mặt khi nhận hàng</p>
                        </div>
                        <input checked="checked" id="money-pay" type="radio" value="1" name="payment" onclick="paymentClick(this)">
                        <span class="checkmark"></span>
                    </label>
                    <label class="box-discount box-money">
                        <img src="~/Vendor/img/icon/money (4).png" alt="" />
                        <div class="money">
                            <h5>Thẻ Tín Dụng</h5>
                            <p>Bạn sẽ thanh toán trước số tiền của đơn hàng qua thẻ tín dụng</p>
                        </div>
                        <input id="credit-pay" type="radio" value="2" name="payment" onclick="paymentClick(this)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="content-right">
                <div class="ct-right-box">
                    <p class="checkout-title">

                        Mã giảm giá của Medimall
                    </p>
                    <div class="discount-wrap">
                        <p>Mã giảm giá</p>
                        <button class="btn-discount" type="button" data-toggle="modal" data-target="#btn-discount">
                            Chọn
                            mã giảm
                            giá
                        </button>
                        @Html.Action("Voucher", "Cart")
                    </div>
                    @if ((bool?)(ViewBag.IsVipCustomer) == null)
                    {
                        <div></div>
                    }
                    else if ((bool?)(ViewBag.IsVipCustomer) == true)
                    {
                        <div class="discount-point">
                            <p style="width:150px">Điểm tích luỹ:</p>
                            <div style="text-align: right;margin-right:205px">
                                <div style="display:inline-flex">
                                    <h5 id="show-powerpoint" style="color: #5dac46; margin-bottom: 5px; margin-right:-65px!important">@TempData["PowerPoint"]</h5>
                                    <svg style="margin-left:70px;margin-top:3.5px" id="tooltip" class="QuestionTooltip_icon__1bfKF" width="16" height="16" viewBox="0 0 16 16" fill="#112950"><g opacity="0.2"><path d="M16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 0 10.1217 0 8C0 5.87827 0.842855 3.84344 2.34315 2.34315C3.84344 0.842855 5.87827 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8ZM5.496 6.033H6.321C6.459 6.033 6.569 5.92 6.587 5.783C6.677 5.127 7.127 4.649 7.929 4.649C8.615 4.649 9.243 4.992 9.243 5.817C9.243 6.452 8.869 6.744 8.278 7.188C7.605 7.677 7.072 8.248 7.11 9.175L7.113 9.392C7.11405 9.45761 7.14085 9.52017 7.18762 9.5662C7.23439 9.61222 7.29738 9.63801 7.363 9.638H8.174C8.2403 9.638 8.30389 9.61166 8.35078 9.56478C8.39766 9.51789 8.424 9.4543 8.424 9.388V9.283C8.424 8.565 8.697 8.356 9.434 7.797C10.043 7.334 10.678 6.82 10.678 5.741C10.678 4.23 9.402 3.5 8.005 3.5C6.738 3.5 5.35 4.09 5.255 5.786C5.25363 5.81829 5.25888 5.85053 5.27043 5.88072C5.28198 5.91091 5.29958 5.93841 5.32216 5.96155C5.34473 5.98468 5.3718 6.00296 5.40169 6.01524C5.43159 6.02753 5.46368 6.03357 5.496 6.033ZM7.821 12.476C8.431 12.476 8.85 12.082 8.85 11.549C8.85 10.997 8.43 10.609 7.821 10.609C7.237 10.609 6.812 10.997 6.812 11.549C6.812 12.082 7.237 12.476 7.822 12.476H7.821Z" fill="inherit"></path></g></svg>
                                    <div class="box-tooltip">
                                        <div class="ProductPrice_tooltip-content-header__DsEup">
                                            <h5 class="ProductPrice_title__2gXsg">Quy tắc sử dụng điểm</h5>
                                        </div>
                                        <ul style="font-size: 15px; margin-bottom: 0px; padding: 20px;">
                                            <li>Chỉ sử dụng được với đơn hàng từ 100.000vnd</li>
                                            <li>Mỗi hóa đơn được sử dụng tối đa 50.000 điểm</li>
                                        </ul>
                                    </div>
                                </div>


                                <input type="hidden" id="power-point" value="@TempData["PowerPoint"]">

                                <button class="btn-point" onclick="usePowerPoint()">Sử dụng điểm</button>
                            </div>
                        </div>
                    }

                </div>
                @using (Html.BeginForm("Purchase", "Cart"))
                {
                    <div class="ct-right-box">
                        <div>
                            <p class="checkout-title">Thông tin giao hàng</p>
                        </div>
                        @Html.Action("Address", "Cart")
                    </div>
                    <div class="ct-right-box">

                        <h3>Tổng tiền</h3>
                        <div class="right-box-item">
                            <p>Giá ban đầu</p>
                            <h3>@String.Format("{0:0,0}", Model.TotalMoney()) VND</h3>
                        </div>
                        <div class="right-box-item">
                            <p>Giá giảm khuyến mãi</p>
                            @if (Session["PriceSale"] == null)
                            {
                                <h3>@String.Format("{0:0,0}", 0) VND</h3>
                            }
                            else if (Session["PriceSale"] != null)
                            {
                                <h3>@String.Format("{0:0,0}", Session["PriceSale"]) VND</h3>
                            }
                        </div>
                        <div class="right-box-item">
                            <p>Thành tiền</p>
                            <h3 class="total-money">
                                @if (Session["DiscountPrice"] != null)
                                {
                                    double finalPrice = Convert.ToDouble(Session["DeliveryPrice"]) + Convert.ToDouble(Session["DiscountPrice"]);
                                    <input type="number" hidden="hidden" id="total-money" name="total-money" value="@finalPrice" />
                                    <span id="show-money">@String.Format("{0:0,0}", finalPrice)</span>
                                    <span>VND</span>
                                }
                                else
                                {
                                    double finalPrice = Model.TotalMoney() + Convert.ToDouble(Session["DeliveryPrice"]);
                                    <span id="show-money">@String.Format("{0:0,0}", finalPrice)</span>
                                    <input hidden="hidden" type="number" id="total-money" name="total-money" value="@finalPrice" />
                                    <span>VND</span>
                                }
                            </h3>
                        </div>
                        <input id="payment-method" type="number" hidden="hidden" value="1" name="pay-id" />
                        <input id="is-use-point" type="number" hidden="hidden" name="is-use-point" value="0" />
                        <input id="point-used" type="number" hidden="hidden" name="point-used" value="" />
                        <input id="sales-price" type="number" hidden="hidden" name="sales-price" value="@Session["PriceSale"]" />
                        <div class="popup-purchase" id="popup-purchase">
                            <h4>Xác nhận mua hàng</h4>
                            <p>Bạn có xác nhận mua sản phẩm này không ?</p>
                            <input type="button" class="back" value="Quay Lại" onclick="CanclePurchase()">
                            <input type="submit" class="deleteall" value="Xác nhận">
                        </div>


                    </div>
                }

                <button onclick="PurchaseFunction()" style="margin:0 auto" class="btn-order">ĐẶT HÀNG</button>
            </div>
        </div>
    </div>
}




<script type="text/javascript" src="~/Scripts/cart.js"></script>

<script>
    paymentClick = (obj) => {
        $('#payment-method').val(obj.value);
    }

    $(document).ready(function () {
        $("#tooltip").hover(
            function () {
                $('.box-tooltip').addClass("show-tooltip");
            },
            function () {
                $('.box-tooltip').removeClass("show-tooltip");
            }
        );
        $(".box-tooltip").hover(
            function () {
                $('.box-tooltip').addClass("show-tooltip");
            },
            function () {
                $('.box-tooltip').removeClass("show-tooltip");
            }
        );


         var errorVoucher = '@TempData["ErrorVoucher"]';
         var successVoucher = '@TempData["SuccessVoucher"]';
         var successQuanntity = '@TempData["SuccessQuantity"]'
         var errorQuantity = '@TempData["ErrorQuantity"]';

        if (successQuanntity != '') {
            alertify.success(successQuanntity);
            successQuanntity = '';
        }
         if (errorQuantity != '') {
             alertify.error(errorQuantity);
             errorQuantity = '';
         }
         if (successVoucher != '') {
             alertify.success(successVoucher);
             successVoucher = '';
         }
         if (errorVoucher != '') {
             alertify.error(errorVoucher);
             errorVoucher = '';
         }
    })

    function myFunction() {
        var blur = document.getElementById("blur");
        blur.classList.add("blur")
        var popup = document.getElementById("popup");
        popup.classList.add("active-cart")

    }
    function backFunction() {
        var back = document.getElementById("popup")
        back.classList.remove("active-cart");
        var blur = document.getElementById("blur");
        blur.classList.remove("blur")
    }
    function myFunction2() {
        var popup2 = document.getElementById("popup2");
        popup2.classList.add("active-cart")
        var blur = document.getElementById("blur");
        blur.classList.add("blur")
    }
    function PurchaseFunction() {
        var popuppurchase = document.getElementById("popup-purchase");
        popuppurchase.classList.add("active-popup-purchase");
        var blur = document.getElementById("blur");
        blur.classList.add("blur")
    }
    function CanclePurchase() {
        var back = document.getElementById("popup-purchase")
        back.classList.remove("active-popup-purchase");
        var blur = document.getElementById("blur");
        blur.classList.remove("blur")
    }

</script>

